@media (max-width: 600px) {
  .intro .title .dev {
    font-size: 0.8em;
  }
  .intro .title .jun {
    font-size: 0.5em;
  }
  .navbar {
    display: none;
  }
  .flower {
    padding-top: 50vh;
    opacity: 0;
    max-width: 40vw;
  }
  .ability-container {
    /* background-color: blue; */
    margin-left: 5vh;
    margin-right: 5vh;
    gap: 5vh;
    padding-left: 0;
  }

  .flower-2 {
    max-width: 60vw;
  }
}
