* {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
  background: black;
  font-family: "Montserrat", sans-serif;
}
/* NAVBAR */
.navbar {
  display: flex;
  height: 100vh;
  align-items: center;
  position: fixed;
  transition: all 1s;
  z-index: 100;
}
.navbar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  height: 50vh;
  font-family: "Roboto", sans-serif;
  justify-content: space-around;
  padding-left: 1vh;
}
.navbar ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.2);
  transition: all 0.5s;
}
.navbar ul li a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255);
}

/* INTRO */
.intro {
  height: 100vh;
  display: flex;
  background-size: cover;
  background-image: url("/assets/img/bgintro.jpg");
  background-attachment: fixed;
  background-position: center;
}
.intro .brand {
  align-self: flex-start;
  position: fixed;
  padding: 3vh;
  font-size: 3em;
  font-family: "Great Vibes", cursive;
  align-content: flex-start;
}
.intro .title {
  width: 100%;
  padding: 2vh;
  font-size: 4em;
  line-height: 0.7;
  text-align: end;
  align-self: flex-end;
  display: inline-block;
}

.intro .title .dev {
  font-size: 2.5em;
  display: inline-block;
  font-weight: bold;
}
.yellow {
  color: yellow;
}

.ability {
  min-height: 100vh;
}
.ability .ability-content {
  /* background-color: blue; */
  min-height: 100vh;
  margin-left: 15vh;
  margin-right: 5vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.programming-language-content {
  /* background-color: rgba(255, 255, 255, 0.6); */
  max-width: 70vh;
  min-height: 30vh;
  padding: 5vh;
  opacity: 0;
  margin-top: 50vh;
  margin-left: 10vh;
}
.programming-language-content .title {
  font-size: 2em;
}
.programming-language-content .desc {
  line-height: 1.5em;
  display: flex;
  justify-content: center;
}
/* .programming-language-content .img {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 5px;
} */

.programming-language-content img {
  max-width: 5vh;
}
.programming-language-content .kotlin {
  max-height: 3.5vh;
}

.database-content {
  max-width: 70vh;
  min-height: 50vh;
  margin-top: 50vh;
  padding: 5vh;
  opacity: 0;
}
.database-content .title {
  font-size: 2em;
}
.database-content .desc {
  line-height: 1.5em;
  display: flex;
  justify-content: center;
}
.database-content img {
  max-width: 5vh;
}
.product {
  min-height: 100vh;
}

.gallery {
  min-height: 100vh;
}
.contact {
  min-height: 100vh;
}
